{% extends 'general_templates/base.html' %}
{% load crispy_forms_tags %}
{% block body_content %}
<form
  class="d-flex flex-column mx-auto w-50"
  action="{% url 'account:signup' %}"
  method="POST"
  enctype="multipart/form-data"
>
  <h2 class="text-center my-3">Signup</h2>
  {% csrf_token %} {{form | crispy}}
  <div>
    <button type="submit" class="btn btn-warning align-self-start my-2">
      Signup
    </button>
    <a class="btn btn-success" href="{% url 'login' %}"
      >Login Instead</a
    >
  </div>
</form>
{% endblock %}
