<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/assets/styles.css" />
    <title>Homepage</title>
  </head>
  <body>
    <center><h1>Welcome</h1></center>
  </body>
</html>
