{% extends 'general_templates/base.html' %} {% block body_content %}
<div class="w-75 m-auto">
  {% if messages %} {% for message in messages %}
  <div class="alert alert-danger" role="alert">{{ message }}</div>
  {% endfor %} {% endif %}
  <div class="d-flex justify-content-center">
    <table class="table table-bordered table-dark">
      <thead>
        <tr>
          <th colspan="5" class="text-center h4">To Do App</th>
        </tr>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Movie Name</th>
          <th scope="col">Movie Production Year</th>
          <th scope="col">Actors</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      {% for movie in movies %}
      <tr scope="row">
        <td>{{ movie.id }}</td>
        <td>{{ movie.name }}</td>
        <td>{{ movie.production_year }}</td>
        <td>
          {% for actor in movie.actors.all %}
            {{ actor.name }} . 
          {% endfor %}
        </td>
        <td>
          <a
            href="{% url 'movie:details' movie.id%}"
            class="btn btn-primary btn-sm mx-1 my-1"
          >
            Details
          </a>
          <a
            href="{% url 'movie:edit' movie.id%}"
            class="btn btn-warning btn-sm mx-1 my-1"
          >
            Edit
          </a>
          <a
            href="{% url 'movie:delete' movie.id%}"
            class="btn btn-danger btn-sm mx-1 my-1"
          >
            Delete
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="d-flex justify-content-end">
    <a class="btn btn-success btn-sm mx-1 my-1" href="{% url 'movie:add' %}"
      >Add New Movie</a
    >
  </div>
</div>
{% endblock %}
