<h1 class="text-center my-5" style="color: rgb(225, 225, 225)">Lab 4</h1>
<div class="d-flex">
  <div style="width: 50vw">
    <div class="department_div border border-light p-3 w-75 m-auto">
      <app-student-list></app-student-list>
      <app-student-add></app-student-add>
    </div>
  </div>
  <div style="width: 50vw">
    <div class="department_div border border-light p-3 w-75 m-auto">
      <app-department-list></app-department-list>
      <app-department-add></app-department-add>
    </div>
  </div>
</div>
